.footer__container {
    height: 55px;
    position: sticky;
    background-color: white;
    /* background-color: #4a154b; */
    bottom: 0;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
    border-top: 1px solid;
}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__links > p {
    margin-right: 15px;
}

#language {
    font-size: 20px;
    margin-right: 15px;
}

.about__link {
    font-size: 16px;
    text-decoration: none;
}

.about__link:hover {
    text-decoration: underline;
}

.footer__links > a {
    color: black;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.footer__letters {
    font-size: 26px;
    font-weight: 700;
    padding: 0 20px;
    font-family: Gill Sans, sans-serif;
}

.footer__letters:hover {
    color: rgb(0, 208, 111);
    cursor: pointer;
}

#github:hover {
    color: rgb(0, 208, 111);
}

/* .title {
    margin-left: auto;
} */

.bork{
    margin-left: auto;
    padding-right: 10px;
}
